@model List<capaModelo.DTO.PolizaDTO>
@{
    ViewBag.Title = "Mis Pólizas";
}

<h2>Mis Pólizas</h2>

@if (Model.Count == 0)
{
    <p>No tienes pólizas registradas aún.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Número</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.NumeroPoliza</td>
                <td>@p.FechaInicio.ToShortDateString()</td>
                <td>@p.FechaFin.ToShortDateString()</td>
                <td>@p.Estado</td>
                <td>
                    <a href="@Url.Action("verPoliza", "Perfil", new { idPoliza = p.IdPoliza })" class="btn btn-sm btn-primary">
                        Ver Poliza
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}